body {
    background-color: rgb(119, 199, 210);
    background-image: url('./images/ui-background.jpg');
    background-attachment: fixed;
    background-size: 100% 100%; 
}
#container{
    margin: 5%;
    display: flex;
    flex-direction: column;
}
#section1{
    background-color:  rgba(231, 97, 108, 0.8);
    position: sticky;
    top: 0px;

}
#section2{
    display: flex;
    background-color:#dde1e7;
    justify-content: space-around;
}
#picDiv{
    display: flex;
    flex-basis: 40%;
    margin: 5%;;
    flex-direction: column;
}
img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
#picDiv>h1{
    color: rgb(255, 0, 21);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(6, 97, 76);
}
#picDiv>ul{
    font-size: 19px;
    font-style: italic;
}
#learnMoreBtn{
    margin-top: 100px;
}
#informDiv{
    display: flex;
    flex-basis: 50%;
    margin: 5%;
}
#section2:hover{
    background-color: rgb(225, 122, 122);
    transition: background-color 50s ease;
}
nav {
  background: linear-gradient(
            217deg,
            rgba(242, 166, 246, 0.8),
            rgba(145, 221, 244, 0.8) 70.71%
          ), linear-gradient(127deg, rgb(239, 186, 249), #66a8ebe7 0.1%),
          linear-gradient(336deg, rgb(237, 170, 250), rgb(237, 170, 250) 70.71%);
    color: rgb(8, 8, 8);
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
  }
  nav .mainMenu {
    display: flex;
    list-style: none;
  }
  nav .mainMenu li a {
    display: inline-block;
    padding: 15px;
    text-decoration: none;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(6, 97, 76);
  }
  nav .mainMenu li a:hover {
  background: rgb(184, 156, 187);
	border-radius: 50%;
	transition: 0.2s ease;

  }
  nav .openMenu {
    font-size: 2rem;
    margin: 20px;
    display: none;
    cursor: pointer;
  }
  nav .mainMenu .closeMenu,
  .icons i {
    font-size: 2rem;
    display: none;
    cursor: pointer;
  }
  .fa-facebook:hover {
    color: rgb(0, 110, 255);
  }
  .fa-twitter:hover {
    color: rgb(86, 154, 243);
  }
  .fa-instagram:hover {
    color: rgb(255, 0, 191);
  }
  .fa-google:hover {
    color: #ffb300;
  }
  .fa-thumbs-up,.fa-heart,.fa-trash-can{
    font-size:xx-large;
    margin: 2%;
    /* color: red; */
  }
  .fa-thumbs-up:hover{
    color: rgb(17, 17, 245);
  }
  .fa-heart:hover,.fa-trash-can:hover {
    color: rgb(255, 0, 191);
  }
  nav .logo {
    margin: 6px;
    cursor: pointer;
  }
  

  


  /* for btn*/
.btn-12{
    color: white !important;
    margin: 100px 0px 0px 50px;;
    position: relative;
    right: 20px;
    bottom: 20px;
    border:none;
    box-shadow: none;
    width: 130px;
    cursor: pointer;
    /* height: 40px; */
    line-height: 42px;
    -webkit-perspective: 230px;
    perspective: 230px;
  }
  .btn-12 span {
    background: rgb(173, 168, 239);
    background: linear-gradient(0deg, rgb(183, 149, 215) 0%, rgb(14, 107, 200) 100%);
    display: block;
    position: absolute;
    width: 130px;
    height: 40px;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    border-radius: 5px;
    margin:0;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .3s;
    transition: all .3s;
  }
  .btn-12 span:nth-child(1) {
    box-shadow:
     -7px -7px 20px 0px #fff9,
     -4px -4px 5px 0px #fff9,
     7px 7px 20px 0px #0002,
     4px 4px 5px 0px #0001;
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    transform: rotateX(90deg);
    -webkit-transform-origin: 50% 50% -20px;
    -moz-transform-origin: 50% 50% -20px;
    transform-origin: 50% 50% -20px;
  }
  .btn-12 span:nth-child(2) {
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: 50% 50% -20px;
    -moz-transform-origin: 50% 50% -20px;
    transform-origin: 50% 50% -20px;
  }
  .btn-12:hover span:nth-child(1) {
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    transform: rotateX(0deg);
  }
  .btn-12:hover span:nth-child(2) {
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
   color: transparent;
    -webkit-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
  }


  /* for logo */
  h1 {
    width: 100%;
    margin: 0 auto 0 auto;
    /* font-family: 'Lato', sans-serif; */
    /* line-height: 280px; */
    font-size: 1.5rem;
    padding: 8px 5px;
    text-align: center;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
    font-style: italic;
    /* font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    font-family:cursive;
    cursor: pointer;

  }
  #text3d {
    color: #70869d;
    letter-spacing: .15em;
    text-shadow: 
      -1px -1px 1px #efede3, 
      0px 1px 0 #2e2e2e, 
      0px 2px 0 #2c2c2c, 
      0px 3px 0 #2a2a2a, 
      0px 4px 0 #282828, 
      0px 5px 0 #262626, 
      0px 6px 0 #242424, 
      0px 7px 0 #222, 
      0px 8px 0 #202020, 
      0px 9px 0 #1e1e1e, 
      0px 10px 0 #1c1c1c, 
      0px 11px 0 #1a1a1a, 
      0px 12px 0 #181818, 
      0px 13px 0 #161616, 
      0px 14px 0 #141414, 
      0px 15px 0 #121212,
      2px 20px 5px rgba(0, 0, 0, 0.9),
      5px 23px 5px rgba(0, 0, 0, 0.3),
      8px 27px 8px rgba(0, 0, 0, 0.5),
      8px 28px 35px rgba(0, 0, 0, 0.9);
 }




 @media (max-width: 724px) {
    nav .mainMenu {
      height: 90vh;
      position: fixed;
      top: 30px;
      right:30px;
      left: 30px;
      z-index: 10;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: linear-gradient(
            217deg,
            rgba(252, 247, 247, 0.8),
            rgba(110, 99, 99, 0) 70.71%
          ), linear-gradient(127deg, rgba(217, 189, 193, 0.8), #88b9f1e7 0.1%),
          linear-gradient(336deg, rgba(38, 205, 227, 0.8), rgba(226, 206, 104, 0) 70.71%);
      /* background: rgb(239, 225, 249); */
      transition: top 1s ease 0s;
      display: none;
    }
    nav .mainMenu .closeMenu {
      display: block;
      position: absolute;
      top: 20px;
      right: 20px;
    }
    nav .openMenu {
      display: block;
    }
    nav .mainMenu li a:hover {
      background: none;
      color: #f20d0d;
    }
    .icons i {
      display: inline-block;
      padding: 12px;
      margin-right: 10px;
      font-size: 50px;
    }
    .btn-12{
        margin: 40px;
        
    }
}